# Java Runtime
*.class
target/
!.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Server Runtime Files/Dirs ###
**/logs/**
conf*/**
**.lock

